# Основные библиотеки
aiogram==3.3.0
telethon==1.32.1
openai==1.12.0

# Для работы с данными
aiohttp==3.9.3
python-json-logger==2.0.7

# Для логирования
coloredlogs==15.0.1

# Для работы с датой и временем
pytz==2024.1

# Для безопасности
python-dotenv==1.0.0